<%= simple_form_for(item) do |f| %>
  <%= f.error_notification %>

  <%= f.hidden_field :list_id, value: list.id %>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
